 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion__content {
    height: 0;
    padding: 0 !important;
    transition: 1s;
    overflow: hidden;
}

.accordion__title {
    background: rgb(53 129 224);
    cursor: pointer;
    position: relative;
}


.show__accordion__content {
    padding: 20px!important;
    transition: 2s;
    overflow: auto;
    box-shadow: 0px 0px 20px 4px #2f0a0a;
    height: 120px;
    overflow-y: hidden;

}
.show__accordion__color{
    background: rgb(195, 18, 110);
}

.accordion {
    width: 30%

}

.accordion__item * {
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#3cc8ce75;

}

.accordion__content {
    text-align: justify;
    background: white;
    width: 90%;
    margin: auto;
    font-family: 'Karla', sans-serif;

}

.accordion__icon {
    position: absolute;
    right: 20px;
    top: 5px;
    bottom: 0;
    margin: auto;
}

.rotate {
    transform: rotate(90deg);
}
.accordion__title .counter{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}
.fa-facebook{
    font-size: 30px;
    cursor: pointer;
    color: rgb(53 129 224);
}
.fa-linkedin{
    font-size: 30px;
    cursor: pointer;
    color: rgb(53 129 224);
}
.accordion__content.social__links {
    text-align: center;
}

@media all and (max-width: 460px) {
 .accordion{
    width: 90%;
}
}

@media all and (min-width: 1200px) {
    .accordion{
       width: 30%;
   }
}
@media all and (min-width: 461px) and (max-width: 1199.98px) { 
    .accordion{
        width: 70%;
    } 
}
.block{
    width: 200px;
    height: 200px;
    background-color: black;
    transition: 2s;

}
.block:hover{
    background-color:red;
    
}